layout {

    focus-ring {
        active-color   "#91cdff"
        inactive-color "#1c1010"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#91cdff"
        inactive-color "#1c1010"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#91cdff"
        inactive-color "#004b72"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#91cdff80"
    }
}

recent-windows {
    highlight {
        active-color "#91cdff"
        urgent-color "#ffb4ab"
    }
}
