layout {

    focus-ring {
        active-color   "#ffb4a1"
        inactive-color "#191206"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#ffb4a1"
        inactive-color "#191206"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#ffb4a1"
        inactive-color "#7c2d17"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#ffb4a180"
    }
}
