layout {

    focus-ring {
        active-color   "#efe5a6"
        inactive-color "#292614"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#efe5a6"
        inactive-color "#292614"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#29261470"
    }

    tab-indicator {
        active-color   "#efe5a6"
        inactive-color "#d1b712"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#efe5a680"
    }
}

recent-windows {
    highlight {
        active-color "#efe5a6"
        urgent-color "#fd4663"
    }
}
