window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id=r#"^org\.gnome\."#
    draw-border-with-background false
    geometry-corner-radius 12
    clip-to-geometry true
}

window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    match app-id="Alacritty"
    match app-id="zen"
    match app-id="com.mitchellh.ghostty"
    match app-id="kitty"
    draw-border-with-background false
}

window-rule {
    match is-active=false
    exclude app-id=r#"^noctalia-.*$"#
    opacity 0.9
}

window-rule {
    geometry-corner-radius 20
    clip-to-geometry true
}

layer-rule {
  match namespace="^noctalia-overview*"
  place-within-backdrop true
}

/* Noctalia: blur everywhere without xray for a better look */
layer-rule {
  match namespace="noctalia"
  exclude namespace="(bar|noctalia-background)"
  background-effect {
    blur true
    xray false
  }
}

layer-rule {
  match namespace="(toast|osd)"
  background-effect {
    blur false
  }
}

debug {
    honor-xdg-activation-with-invalid-serial
}
